<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Cấp quyền dùng Internet (bắt buộc cho WebView + Cloud Functions) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppThueXe">

        <!-- Màn hình chính của app -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- App Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- ⭐ DEEP LINK RETURN CHO VNPAY: vnpay://return -->
            <intent-filter android:label="VNPay Return Handler">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- chính xác như Cloud Function RETURN_URL -->
                <data
                    android:scheme="vnpay"
                    android:host="return" />
            </intent-filter>

        </activity>

    </application>

</manifest>